http://{$SUBDOMAIN}.sogeo.services {
    #tls stefan.ziegler.de@gmail.com {
    #    ca https://acme-staging-v02.api.letsencrypt.org/directory
    #}
    tls stefan.ziegler.de@gmail.com

    proxy /wms wms:80/wms {
        transparent
        without /wms
    }

    proxy /avdpool avdpool:8080 {
        transparent
        without /avdpool
    }

    proxy / wmts:8080 {
        transparent
    }

    log stdout
    errors stdout
}